.bg-headerku {
    background-color:rgb(255, 255, 255)
}

.service-text {
    padding-top: 50px;
}

.testimoni-text {
    padding-top: 50px;
}

section {
  scroll-margin-top: 60px; 
}

.tentang-text {
    line-height: 2;
    font-size: 20px;
}

body {
    padding-top: 80px;
}